= form_for(registrant) do |f|
  .ui.form
    .field
      = f.label "Name"
      .two.fields
        .field
          = f.text_field :firstname, :required => "", :placeholder => "First name"
        .field
          = f.text_field :lastname, :required => "", :placeholder => "Last name"
    .field
      = f.label "Email"
      = f.email_field :email, :required => "", :placeholder => "email@domain.com"
    .field
      = f.label "Contact no."
      = f.text_field :contactno, :required => "", :placeholder => "09XXXXXXXXX"
    .field
      = f.label "Batch"
      = f.number_field :batch, :required => "", :min => 2010, :max => 2016, :placeholder => "20XX"
    .field
      = f.label "Course"
      = f.text_field :course, :required => "", :placeholder => "BSCS"
    .field
      = f.label "Referral"
      = f.text_field :referral, :placeholder => "N/A"
    .actions
      = f.submit "Submit", :class => "ui blue button"
