.ui.container
  .ui.grid
    .row
      %h1.ui.header
        %i.cubes.disabled.icon
        .content regsys
    .row
      .six.wide.column
        = link_to 'Export to CSV', new_registrant_path, {:class => "ui positive button"}
        = link_to 'Open Form', new_registrant_path, {:class => "ui blue button"}
      .right.floated.two.wide.column
        = link_to 'Delete all', drop_path, {:method => :delete, :class => "ui red button", data: { confirm: "Are you sure?"}}
    .row
      %h4= "Registrant count: " + @registrants.count.to_s
    .row
      %table.ui.blue.stripped.table
        %thead
          %tr
            %th Firstname
            %th Lastname
            %th Email
            %th Contactno
            %th Batch
            %th Course
            %th Referral
        %tbody
          - @registrants.each do |registrant|
            %tr
              %td= registrant.firstname
              %td= registrant.lastname
              %td= registrant.email
              %td= registrant.contactno
              %td= registrant.batch
              %td= registrant.course
              %td= registrant.referral
              -# %td= link_to 'Show', registrant
              -# %td= link_to 'Delete', registrant, method: :delete, "data confirm": 'Are you sure?'
